*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

#form-compara{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#form-compara input,
button{
    margin-bottom: 15px;
    padding: 8px;
}

#mensagem-erro{
    font-size: 12px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 6px;
    margin-bottom: 6px;
    display: none;
    
}

button{
    background-color: rgb(75, 75, 248);
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

#mensagem-sucesso{
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    height: 30px;
    background-color: rgba(3, 250, 3, 0.555);
    display: none;
}